* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: "Inter", "sans-serif";
}

.header {
  display: flex;
  padding: 0.5rem 0;
  background: #1E293B;
}

.header-wrapper {
  display: flex;
  max-width: 80rem;
  width: 100%;
  margin: auto;
  justify-content: end;
}

.header-buttons {
  display: flex;
  align-items: center;
}
.header-buttons__login-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  gap: 0.5rem;
  margin-right: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: white;
}
.header-buttons__add-btn {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  gap: 0.3rem;
  transition: background-color 0.3s ease-in-out;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  line-height: 1.3rem;
  background: #3B82F6;
  border: #3B82F6;
  border-radius: 0.3rem;
}
.header-buttons__add-btn:hover {
  background-color: #2f68c5;
}

.container {
  max-width: 80rem;
  margin: auto;
  padding-block: 2rem;
}
.container.announcement-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.announcement-heading {
  border-bottom: 1px solid #E2DBFC;
}
.announcement-heading__title {
  margin-right: 1.5rem;
  margin-block: 1rem;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 2rem;
}
.announcement-heading__form-container {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
}
.announcement-heading__category-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem;
  margin-right: 0.8rem;
  gap: 0.5rem;
  transition: background-color 0.3s ease-in-out;
  font-size: 0.9rem;
  color: #3B82F6;
  line-height: 1.3rem;
  border: 0.06rem solid #3B82F6;
  border-radius: 0.3rem;
  background: white;
}
.announcement-heading__category-btn:hover {
  background-color: #ebf3fe;
}
.announcement-heading__search-form {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}
.announcement-heading__search-input {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem 0 0 0.3rem;
  border: 0.06rem solid #CBD5E1;
  border-right: none;
}
.announcement-heading__search-input::placeholder {
  font-size: 1rem;
}
.announcement-heading__search-input:focus-within {
  outline: none;
}
.announcement-heading__search-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem;
  gap: 0.5rem;
  transition: background-color 0.3s ease-in-out;
  color: white;
  font-size: 0.9rem;
  line-height: 1.3rem;
  background: #3B82F6;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 0.06rem solid #3B82F6;
}
.announcement-heading__search-btn:hover {
  background-color: #2f68c5;
}

.recommendations-title {
  padding-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.ads-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(12.5rem, 1fr));
  grid-gap: 1.5rem;
  justify-content: center;
}

.ad {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: inherit;
}
.ad:hover > .ad__img {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}
.ad__img {
  width: 100%;
  padding-bottom: 73%;
  position: relative;
  transition: 0.5s;
}
.ad__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.ad__title {
  margin: 0.5rem 0 0;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #3B82F6;
}
.ad__price {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 600;
}
.ad__location {
  color: #64748B;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.ad__time {
  color: #64748B;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

@media (max-width: 1399.98px) {
  .header-wrapper {
    padding-inline: 0.8rem;
  }
  .announcement-container {
    padding-inline: 0.8rem;
  }
  .recommendations-title {
    padding: 0 0 1.5rem 0.8rem;
  }
  .ads-grid {
    padding-inline: 0.8rem;
  }
}
@media (max-width: 991.98px) {
  .ads-grid {
    grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
  }
  .announcement-heading__title {
    font-size: 1.8rem;
  }
  .announcement-heading span {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .header-buttons span {
    display: none;
  }
  .announcement-heading__title {
    margin-right: 0;
  }
  .announcement-heading__form-container {
    flex-basis: 100%;
  }
}
@media (max-width: 575.98px) {
  .announcement-heading input::placeholder {
    font-size: 0.8rem;
  }
  .ads-grid {
    grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
  }
}

/*# sourceMappingURL=style.css.map */
